<form class="form border w-75 mt-5 shadow m-auto p-5 rounded bg-light " style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-size:20px">
     <div class="row">
         <div class="col-md-4 m-auto">
             <label>Deficões de idioma</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>---</option>
                <option value="1">Portugues</option>
                <option value="2">Ingles</option>
                <option value="3">Francês</option>
            </select>
         </div>

        <div class="col-md-4 m-auto">
            <label >Thema</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>---</option>
                <option value="1">Escuro</option>
                <option value="2">Claro</option>
            </select>
        </div>
     </div>

    <div class="row mt-4">
        <div class="col-md-4 m-auto">
            
        </div>

        <div class="col-md-4 m-auto">
        </div>
    </div>
 </form>