

<div class="row m-auto mt-5">
    <div class="col-xl-6 col-md-6 mb-4 ">
        <div class="card p-5 border-left-danger shadow">
            <div class="card-body">
                <div class="text-xl font-weight-bold text-danger text-uppercase mb-1">
                    M-Pesa
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card p-5 border-left-warning shadow">
            <div class="card-body">
                <div class="text-xl font-weight-bold text-warning text-uppercase mb-1">
                    E-Mola
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
            </div>
        </div>
    </div>
</div>




<div class="row m-auto mt-5">
    <div class="col-xl-6 col-md-6 mb-4 ">
        <div class="card p-5 border-left-primary shadow">
            <div class="card-body">
                <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                   Banco
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card p-5 border-left-success shadow">
            <div class="card-body">
                <div class="text-xl font-weight-bold text-success text-uppercase mb-1">
                    Monetario
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
            </div>
        </div>
    </div>
</div>

