<link rel="stylesheet" type="text/css" href="~/scss/main.css">

<div class="container-login100">

    <form class="form border w-75 mt-5 shadow m-auto p-5 rounded bg-light ">
        <div class="row">
            <div class="col-md-4 m-auto">
                <label class="form-control-label">Categoria do Produto</label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>---</option>
                    <option value="1">Comida</option>
                    <option value="2">Bebida</option>
                    <option value="3">Produtos higuenicos</option>
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 m-auto">
                <label class="form-control-label">Produto</label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>---</option>
                    <option value="1">Comida</option>
                    <option value="2">Bebida</option>
                    <option value="3">Novo produto</option>
                </select>
            </div>
            <div class="col-md-4 m-auto">
                <label>Quantidade</label>
                <input class="form-control" type="number" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 m-auto">
                <label>Preco</label>
                <input class="form-control" type="number" />
            </div>
            <div class="col-md-4 m-auto">
                <label>Descricão</label>
                <input class="form-control" type="text" />
            </div>
        </div>
        <div class="row ms-5">
            <div class="col-md-4 m-auto">
                <input type="submit" value="Guardar" class="btn btn-success w-50 mt-5" />
            </div>
        </div>
    </form>

</div>
