<link rel="stylesheet" type="text/css" href="~/scss/main.css">

<div class="container-login100">
    <form class="form border w-75 mt-5 shadow m-auto p-5 rounded bg-light">

        <div class="row m-auto">
            <div class="col-md-10 m-auto">
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 w-50 navbar-search">
                    <div class="input-group w-50">
                        <input type="text" class="form-control w-50 bg-light border  small"
                               placeholder="Digite o código ou nome" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 m-auto">
                    <label>Codigo</label>
                    <input class="form-control" type="number" />
                </div>
                <div class="col-md-4 m-auto">
                    <label>Quantidade</label>
                    <input class="form-control" type="number" />
                </div>
            </div>
            <div class="row ms-5">
                <div class="col-md-4 m-auto">
                    <input type="submit" value="Adicionar" class="btn btn-success w-50 mt-5" />
                </div>
            </div>
        </div>


    </form>

</div>

